<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN" "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>

    <settings>
        <setting name="mapUnderscoreToCamelCase" value="true" />
    </settings>

    <typeAliases>
        <typeAlias alias="TemplateTextDto" type="generate.pdf.openpdf.dto.TemplateTextDto"/>
        <typeAlias alias="UserSqlFileDto" type="generate.pdf.openpdf.dto.UserSqlFileDto"/>
        <typeAlias alias="ValueTextComboDto" type="generate.pdf.openpdf.dto.ValueTextComboDto"/>
    </typeAliases>

    <mappers>
        <mapper resource="mapper/TemplateTextMapper.xml"/>
        <mapper resource="mapper/UserSqlFileMapper.xml"/>
        <mapper resource="mapper/UserRoleMapper.xml"/>
    </mappers>

</configuration>