<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN" "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
    <settings>
        <setting name="mapUnderscoreToCamelCase" value="true" />
    </settings>

    <typeAliases>
        <typeAlias alias="TextBlockWithStyle" type="generate.pdf.openpdf.dto.TextBlockWithStyle"/>
    </typeAliases>

    <mappers>
        <mapper resource="mapper/TemplateTextMapper.xml"/>
    </mappers>

</configuration>