<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN" "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>

    <settings>
        <setting name="mapUnderscoreToCamelCase" value="true" />
    </settings>

    <typeAliases>
        <typeAlias alias="TemplateTextBlock" type="generate.pdf.openpdf.dto.TemplateTextBlock"/>
        <typeAlias alias="UserSqlFile" type="generate.pdf.openpdf.dto.UserSqlFile"/>
        <typeAlias alias="ValueTextCombo" type="generate.pdf.openpdf.dto.ValueTextCombo"/>
    </typeAliases>

    <mappers>
        <mapper resource="mapper/TemplateTextMapper.xml"/>
        <mapper resource="mapper/UserSqlFileMapper.xml"/>
        <mapper resource="mapper/UserRoleMapper.xml"/>
    </mappers>

</configuration>