<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="generate.pdf.openpdf.mapper.TemplateTextMapper">

    <select id="getTextsByGroupAndLanguage" resultType="generate.pdf.openpdf.dto.TextBlockWithStyle">
        SELECT tb.text_block_id,
               tb.text_block_value,
               tt.template_text_id,
               tt.text_block_name,
               tt.text_size,
               tt.horizontal_alignment,
               tt.vertical_alignment
        FROM pdf_generator.template_text tt
             INNER JOIN pdf_generator.text_block tb ON tb.text_block_id = tt.text_block_id
        WHERE tt.template_code = #{templateCode}
          AND tt.language_code = #{languageCode};
    </select>

    <select id="findTextBlockById" resultType="generate.pdf.openpdf.dto.TextBlockWithStyle">
        SELECT tb.text_block_id,
               tb.text_block_value,
               tt.template_text_id,
               tt.text_block_name,
               tt.text_size,
               tt.horizontal_alignment,
               tt.vertical_alignment
        FROM pdf_generator.template_text tt
             INNER JOIN pdf_generator.text_block tb ON tb.text_block_id = tt.text_block_id
        WHERE tt.template_code = #{templateCode}
            AND tt.language_code = #{languageCode}
            AND tt.template_text_id = #{id};
    </select>

    <select id="findTextBlockValueById" resultType="java.lang.String">
        SELECT tb.text_block_value
        FROM pdf_generator.text_block tb
        WHERE tb.text_block_id = #{id};
    </select>

    <select id="findTextBlockIdByValue" resultType="java.lang.Long">
        SELECT tb.text_block_id
        FROM pdf_generator.text_block tb
        WHERE tb.text_block_value = #{textBlockValue};
    </select>

    <select id="findAmountOfTextBlockUsages" resultType="java.lang.Long">
        SELECT COUNT(*)
        FROM pdf_generator.template_text
        WHERE text_block_id = #{id};
    </select>

    <select id="findAllTemplates" resultType="java.lang.String">
        SELECT DISTINCT template_code
        FROM pdf_generator.template_text;
    </select>

    <select id="findAllLanguagesForTemplate" resultType="java.lang.String">
        SELECT DISTINCT language_code
        FROM pdf_generator.template_text
        WHERE template_code = #{template};
    </select>

    <update id="updateTemplateToTextTranslation">
        UPDATE pdf_generator.template_text tt
        SET text_block_id = #{textBlockWithStyle.textBlockId},
            text_size = #{textBlockWithStyle.textSize},
            horizontal_alignment = #{textBlockWithStyle.horizontalAlignment},
            vertical_alignment = #{textBlockWithStyle.verticalAlignment}
        WHERE tt.template_text_id = #{textBlockWithStyle.templateTextId};
    </update>

    <update id="updateTextBlock">
        UPDATE pdf_generator.text_block tb
        SET text_block_value = #{textBlockValue}
        WHERE tb.text_block_id = #{textBlockId};
    </update>

    <insert id="insertTextBlock"
            useGeneratedKeys="true" keyProperty="textBlockId">
        INSERT INTO
            pdf_generator.text_block (text_block_value)
        VALUES
            (#{textBlockValue});
    </insert>

</mapper>