<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="generate.pdf.openpdf.mapper.TemplateTextMapper">

    <sql id="selectAll">
        tb.text_block_id,
        tb.text_block_value,
        tt.template_text_id,
        tt.template_code,
        tt.language_code,
        tt.text_group_code,
        tt.ordering,
        tt.numbering,
        tt.numbering_level,
        tt.text_block_name,
        tt.text_size,
        tt.horizontal_alignment,
        tt.vertical_alignment
    </sql>

    <select id="getTextsByTemplateAndLanguage" resultType="TemplateTextBlock">
        SELECT <include refid="selectAll"/>
        FROM pdf_generator.template_text tt
             INNER JOIN pdf_generator.text_block tb ON tb.text_block_id = tt.text_block_id
        WHERE tt.template_code = #{templateCode}
          AND tt.language_code = #{languageCode};
    </select>

    <select id="findTextBlockById" resultType="TemplateTextBlock">
        SELECT <include refid="selectAll"/>
        FROM pdf_generator.template_text tt
             INNER JOIN pdf_generator.text_block tb ON tb.text_block_id = tt.text_block_id
        WHERE tt.template_code = #{templateCode}
            AND tt.language_code = #{languageCode}
            AND tt.template_text_id = #{id};
    </select>

    <select id="findTextBlockValueById" resultType="java.lang.String">
        SELECT tb.text_block_value
        FROM pdf_generator.text_block tb
        WHERE tb.text_block_id = #{id};
    </select>

    <select id="findTextBlockIdByValue" resultType="java.lang.Long">
        SELECT tb.text_block_id
        FROM pdf_generator.text_block tb
        WHERE tb.text_block_value = #{textBlockValue};
    </select>

    <select id="findAmountOfTextBlockUsages" resultType="java.lang.Long">
        SELECT COUNT(*)
        FROM pdf_generator.template_text
        WHERE text_block_id = #{id};
    </select>

    <select id="findAllAvailableTemplates" resultType="java.lang.String">
        SELECT DISTINCT template_code
        FROM pdf_generator.template_code;
    </select>

    <select id="findAllLanguagesForTemplate" resultType="ValueTextCombo">
        SELECT DISTINCT lc.language_code, lc.language_name
        FROM pdf_generator.template_text tt
        INNER JOIN pdf_generator.language_code lc ON lc.language_code = tt.language_code
        WHERE tt.template_code = #{template};
    </select>

    <select id="findLanguageByCode" resultType="ValueTextCombo">
        SELECT lc.language_code, lc.language_name
        FROM pdf_generator.language_code lc
        WHERE lc.language_code = #{languageCode};
    </select>

    <select id="findAllAvailableLanguages" resultType="ValueTextCombo">
        SELECT lc.language_code, lc.language_name
        FROM pdf_generator.language_code lc;
    </select>

    <update id="updateTemplateToTextTranslation">
        UPDATE pdf_generator.template_text tt
        SET text_block_id = (
                SELECT tb.text_block_id
                FROM pdf_generator.text_block tb
                WHERE tb.text_block_value = #{templateTextBlock.textBlockValue}
            ),
            text_size = #{templateTextBlock.textSize},
            horizontal_alignment = #{templateTextBlock.horizontalAlignment},
            vertical_alignment = #{templateTextBlock.verticalAlignment}
        WHERE tt.template_text_id = (
            SELECT tt.template_text_id
            FROM pdf_generator.template_text tt
            WHERE tt.template_code = #{templateTextBlock.templateCode}
            AND tt.language_code = #{templateTextBlock.languageCode}
            AND tt.text_block_name = #{templateTextBlock.textBlockName}
        );
    </update>

    <update id="updateTextBlock">
        UPDATE pdf_generator.text_block tb
        SET text_block_value = #{textBlockValue}
        WHERE tb.text_block_id = (
            SELECT t_b.text_block_id
            FROM pdf_generator.text_block t_b
            WHERE t_b.text_block_value = #{previousTextBlockValue}
        );
    </update>

    <insert id="insertTextBlock"
            useGeneratedKeys="true" keyProperty="textBlockId">
        INSERT INTO
            pdf_generator.text_block (text_block_value)
        VALUES
            (#{textBlockValue});
    </insert>

    <insert id="batchInsert">
        INSERT INTO
            pdf_generator.template_text (
                template_code,
                language_code,
                text_group_code,
                ordering,
                numbering,
                numbering_level,
                text_block_name,
                text_block_id,
                text_size,
                horizontal_alignment,
                vertical_alignment)
        VALUES
        <foreach collection="templateTextBlocks" item="templateTextBlock" separator=",">
            (#{templateTextBlock.templateCode},
             #{templateTextBlock.languageCode},
             #{templateTextBlock.textGroupCode},
             #{templateTextBlock.ordering},
             #{templateTextBlock.numbering},
             #{templateTextBlock.numberingLevel},
             #{templateTextBlock.textBlockName},
             (SELECT tb.text_block_id
              FROM pdf_generator.text_block tb
              WHERE tb.text_block_value = #{templateTextBlock.textBlockValue}),
             #{templateTextBlock.textSize},
             #{templateTextBlock.horizontalAlignment},
             #{templateTextBlock.verticalAlignment})
        </foreach>
        ;
    </insert>

</mapper>